.screen_one {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: rgb(104, 48, 145);
  // background: linear-gradient(
  //   0deg,
  //   rgba(104, 48, 145, 1) 0%,
  //   rgba(55, 157, 177, 1) 100%
  // );
  overflow: hidden;
  transition: all linear 0.3s;
  background-color: #fff;
}
.screen_one:hover {
  transform: scale(1.05);
}
.screen_img {
  height: 60px;
  /* margin-left: 50%;
  transform: translate(-50%)!important; */
}
.screen_one svg {
  color: var(--dmc-text-color-primary) !important;
}

// page specific
.page-top {
  margin-bottom: 32px;
}
.page-title {
  color: #1f1f1f;
  font-size: 25px;
  font-weight: 500;
  display: none;
}
.breadcrumb {
  background-color: transparent;
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.breadcrumb .breadcrumb-item {
}
.breadcrumb .breadcrumb-item a {
  color: #333333;
}
