@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

@font-face {
  font-family: "Jakarta";
  src: url(/fonts/Jakarta/PlusJakartaSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Jakarta";
  src: url(/fonts/Jakarta/PlusJakartaSans-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Jakarta";
  src: url(/fonts/Jakarta/PlusJakartaSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Circular";
  src: url(/fonts/circular-std-medium-500.ttf);
}
