.sidebar {
  background-color: #34444c;
  border-right: 1px solid transparent;
  margin-top: 0;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 230px;
  z-index: 1001;
}

.main_logo {
  // margin-bottom: 10px;
}
.main_logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.main_logo .logo_text {
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
  font-weight: normal;
  color: #fff;
}
.side_nav_bg {
  // background-color: var(--dmc-theme-color-primary);
  /* position: fixed; */
  // height: 100vh !important;
}
.side_nav {
  height: 100vh !important;
}

#navigation_part .accordion {
  --bs-accordion-border-color: none;
}
#navigation_part .accordion-body {
  padding: 0;
}
#navigation_part .accordion-button {
  padding: 0px !important;
  background-color: transparent !important;
  border: none !important;
  line-height: 47px;
}
#navigation_part .accordion-button:focus {
  box-shadow: none !important;
}
#navigation_part .accordion-item {
  background: transparent;
  border: none !important;
  width: 100%;
}
#navigation_part .accordion-item .sidenav-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.accordion-button::after {
  transform: rotate(-90deg);
  filter: brightness(0) invert(1);
  // width: 20px !important;
  // height: 25px !important;
  width: 12px;
  height: 12px;
  background-size: 12px;
}
.accordion-button.collapsed {
  padding-bottom: 10px !important;
}
.accordion-item .sidenav_submenu {
  padding-left: 47px;
  padding-right: 24px;
}
.accordion-item .sidenav_sub_item {
  line-height: 37px;
  list-style: none;
  position: relative;
}
.accordion-item .sidenav_sub_item::before {
  content: "";
  width: 6px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: -18px;
  top: 18px;
  transition: all 0.4s ease-in-out;
  opacity: 0.5;
}
.accordion-item .sidenav_sub_item a {
  font-size: 13px !important;
  opacity: 0.6;
}
/* topbar start*/

.add_btn_color {
  background-color: var(--dmc-theme-color-secondary);
}
.add_btn_color:hover {
  background-color: var(--dmc-theme-color-secondary);
  opacity: 0.8;
}
.form_border_focus {
  box-shadow: none !important;
}
.add_employ .nav-link {
  color: black !important;
}
.add_employ .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  font-weight: 600 !important;
}
.table_head {
  white-space: nowrap;
  vertical-align: middle;
}
.logo {
  height: 30px;
  width: 50px;
}
