.content {
  // height: 100vh !important;
  // border-radius: 5px;
  // overflow-y: auto;
  padding: 30px;
}
.header {
  background: #667eea;
  background: linear-gradient(to right, #667eea 0%, #764ba2 100%);
  border-bottom: 1px solid transparent;
  height: 60px;
  z-index: 1002;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 0 13px;
}
.topbar {
  height: 100%;
  // height: 70px;
  // background-color: #ffffff;
  // border-bottom: 1px solid #e9ebec;
}
.profile_img {
  height: 40px;
  width: 40px;
  line-height: 70px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.topbar .btn-primary {
  --bs-btn-bg: none !important;
}
.topbar .btn:hover {
  background-color: transparent !important;
  border-color: 1px solid transparent !important;
}
.topbar .btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: var(--bs-btn-active-color);
  background-color: transparent !important;
  border-color: var(--bs-btn-active-border-color);
}
