@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

html,
body {
  overflow-x: hidden;
  background: url("/bg.jpg") no-repeat center;
  background-size: cover;
  font-family: "Open Sans", sans-serif !important;
}
P {
  font-size: 14px !important;
}
.side_font {
  font-size: 14px !important;
}
.font_14 {
  font-size: 14px;
}
.font_20 {
  font-size: 20px;
}
.theme_color {
  background-color: #683091 !important;
}
.side_nav {
  width: 275px;
  height: 100%;
  background-color: #575866 !important;
  /* position: fixed; */
}
.wrapper {
  display: flex;
  background-size: cover;
}
.content {
  height: 100vh;
  width: calc(100% - 275px);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* add employee */
.multi_select button.btn.dropdown-toggle.btn-light {
  border-radius: 5px;
  border: 1px solid #acacac;
  padding: 10px;
}
.sync_btn {
  padding: 10px 30px;
  border-radius: 5px;
  margin-left: 10px;
  border: 1px solid #acacac;
}
button.actions-btn.btn.btn-light {
  margin-left: 10px;
  background-color: #0d6efd;
  color: #fff;
}

/*======================
employee manage css start
========================*/
.table_user_img {
  height: 30px;
  width: 30px;
}
/*=====================
employee manage css end
=======================*/

/* CSS */
.button-16 {
  background-color: rgba(199, 199, 199, 0.643);
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 25px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.button-16:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}

.button-16:focus {
  border-color: #4285f4;
  outline: none;
}

.employee_table {
  position: relative;
}
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}
// .employee_table tr th:nth-child(1) {
//   width: 44px;
// }
// .employee_table tr th:nth-child(2) {
//   width: 44px;
// }
// .employee_table tr th:nth-child(3) {
//   width: 88px;
// }
// .employee_table tr th:nth-child(4),
// .employee_table tr th:nth-child(5),
// .employee_table tr th:nth-child(6) {
//   width: 150px;
// }

// .spinner {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.app-button {
  transition: all 0.5s !important;
  min-width: 92px;
}
.app-button.loading {
}
.spinner {
  margin-left: 5px;
}
.invalid-feedback {
}
.success-feedback {
  color: #198754;
}
